/*   */
/* Reusable styles */
/*   */

body {
  /* padding: 0; */
  /* margin: 0; */
}
h1 { color: blue; }
p { color: green; }

.small-picture {}
.medium-picture {
  height: 200px;
  width: auto;
}
.large-picture {}
