/* ------------------------------------------------------------- */
/* COLORS */
/* ------------------------------------------------------------- */

/* orange      - #e67e22*/
/* dark-orange - #b05d14*/
/* white       - #fff */



/* ------------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------------- */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   background-color: #fff;
   color: #fff;
   font-family: 'latoregular', 'Arial', 'sans-serif';
   font-weight: 300;
   font-size: 20px;
   text-rendering: optimizeLegibility;
}
body {
   font-family: latoregular, Helvetica Neue, Arial;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 120%;
   height: 100%;
}
/* ------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------- */
a {
   color: red;
}

/* ------------------------------------------------------------- */
/* TITLE SECTION */
/* ------------------------------------------------------------- */
header {
   background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(photos/money.jpg);
   background-size: cover;
   background-position: center;
   height: 100vh;
}
.title {
    color: #fff;
}
.hero-text-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-75%, -75%);
}

/* ------------------------------------------------------------- */
/* MAIN SECTION */
/* ------------------------------------------------------------- */
.main-container {
   position: absolute;
   background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(photos/money.jpg);
   background-size: cover;
   overflow-x: hidden;
   height: 100vh;
   width: 100%;
}

/* ------------------------------------------------------------- */
/* FOOTER SECTION */
/* ------------------------------------------------------------- */
