

/*   */
/* ***************colors*************** */
/*   */

/*





 */

/*   */
/* ***************universal-classes*************** */
/*   */
* {
  padding: 0;
  margin: 0;
}
body {
  width: 1200px;
  margin: auto;
}


/*   */
/* ***************reusable-classes*************** */
/*   */
.clear {
  clear: both;
}
h1 {
  font-family: "Arial";
  color: purple;
  font-weight: 100;
}
a {
}
a:visited {
  color: blue;
}
.main-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
   
  /* width: 400px; */
}
.main-list-item {
  /* margin-top: 10px; */
  /* padding: 10px; */
  border: 2px solid purple;
  list-style: none;
  width: 200px;
}
.sublist li{
  margin-left: 20px;
}

/*   */
/* ***************header*************** */
/*   */
header h1 {
  color: green;
}



/*   */
/* ***************sidebar*************** */
/*   */



/*   */
/* ***************footer*************** */
/*   */
footer {
}
