h1 {
  font-family: "Arial";
  color: purple;
  font-weight: 100;
}
a {
  padding: 25px;
}
a:visited {
  color: blue;
}
li {
  display: inline-block;
  margin: 10px;
  list-style: none;
  border: 8px ridge purple;
}
