* {
  margin: 0;
  padding: 0; }

.answer, .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DEDEDE;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s; }
  .answer:hover, .timer:hover {
    background-color: #4E4F4F;
    color: #DEDEDE; }
  .answer:active, .timer:active {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 4px; }

.start-reset {
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
  transition: all 0s;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  align-self: center;
  height: 40px;
  width: 90px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DEDEDE;
  border-radius: 3px;
  cursor: pointer; }
  .start-reset:hover {
    background-color: #4E4F4F;
    color: #DEDEDE; }
  .start-reset:active {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 4px; }

html {
  height: 100%;
  background: radial-gradient(circle, #fff, #7E8181); }

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 180px 35fr 200px; }

header {
  background-color: #BAC2C1;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #14D100; }
  header .header-container {
    display: flex; }
    header .header-container img {
      width: 3em;
      height: 3em;
      align-self: flex-start;
      margin-right: 10px; }
    header .header-container h1 {
      padding: 10px 0 5px 0;
      color: #39378F; }

.container {
  height: 450px;
  width: 550px;
  background-color: #98CEE9;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 0px 0px #009de4;
  -moz-box-shadow: 0px 4px 0px 0px #009de4;
  -webkit-box-shadow: 0px 4px 0px 0px #009de4;
  position: relative; }

.score {
  background-color: #F2F795;
  color: #888e5f;
  padding: 11px;
  position: absolute;
  left: 500px;
  box-shadow: 0px 4px 0px 0px #9da853;
  -moz-box-shadow: 0px 4px 0px 0px #9da853;
  -webkit-box-shadow: 0px 4px 0px 0px #9da853; }

.correct {
  background-color: green;
  color: #f8fbfb;
  position: absolute;
  left: 240px;
  padding: 10px 20px;
  width: 80px;
  text-align: center;
  box-shadow: 0px 4px 0px 0px #0B4800;
  -moz-box-shadow: 0px 4px 0px 0px #0B4800;
  -webkit-box-shadow: 0px 4px 0px 0px #0B4800;
  display: none; }

.wrong {
  background-color: red;
  color: #f8fbfb;
  position: absolute;
  left: 240px;
  padding: 10px 20px;
  width: 80px;
  text-align: center;
  box-shadow: 0px 4px 0px 0px #a90805;
  -moz-box-shadow: 0px 4px 0px 0px #a90805;
  -webkit-box-shadow: 0px 4px 0px 0px #a90805;
  display: none; }

.question {
  display: flex;
  height: 150px;
  width: 450px;
  background-color: #9da0ea;
  box-shadow: 0px 4px 0px 0px #3f3f64;
  -moz-box-shadow: 0px 4px 0px 0px #3f3f64;
  -webkit-box-shadow: 0px 4px 0px 0px #3f3f64;
  margin: 60px auto 10px auto;
  font-size: 100px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  justify-content: center;
  align-items: center; }

.instructions {
  display: flex;
  height: 50px;
  width: 450px;
  background-color: #9E7DCE;
  box-shadow: 0px 4px 0px 0px #6d4f97;
  -moz-box-shadow: 0px 4px 0px 0px #6d4f97;
  -webkit-box-shadow: 0px 4px 0px 0px #6d4f97;
  margin: 10px auto 10px auto;
  text-align: center;
  font-size: 17px;
  justify-content: center;
  align-items: center; }

.answers-containter {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  height: 100px;
  width: 450px; }

.answer {
  height: 90px;
  width: 90px; }

.answerone:hover {
  background-color: #3AA82F; }

.answertwo:hover {
  background-color: #39378F; }

.answerthree:hover {
  background-color: #CDA939; }

.answerfour:hover {
  background-color: #C9383F; }

.btn-and-timer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 40px;
  width: 450px;
  margin: 0px auto; }

.start {
  background-color: #0F9B00;
  box-shadow: 0px 4px 0px 0px #3AA82F;
  -moz-box-shadow: 0px 4px 0px 0px #3AA82F;
  -webkit-box-shadow: 0px 4px 0px 0px #3AA82F; }
  .start:hover {
    background-color: #0F9B00;
    box-shadow: 0px 6px 0px 0px #3AA82F;
    -moz-box-shadow: 0px 6px 0px 0px #3AA82F;
    -webkit-box-shadow: 0px 6px 0px 0px #3AA82F;
    position: relative;
    top: -2px; }
  .start:active {
    box-shadow: 0px 0px 0px 0px #3AA82F;
    -moz-box-shadow: 0px 0px 0px 0px #3AA82F;
    -webkit-box-shadow: 0px 0px 0px 0px #3AA82F;
    position: relative;
    top: 4px; }

.reset {
  background-color: #FB4750;
  box-shadow: 0px 4px 0px 0px #BA0009;
  -moz-box-shadow: 0px 4px 0px 0px #BA0009;
  -webkit-box-shadow: 0px 4px 0px 0px #BA0009; }
  .reset:hover {
    background-color: #FB4750;
    box-shadow: 0px 6px 0px 0px #BA0009;
    -moz-box-shadow: 0px 6px 0px 0px #BA0009;
    -webkit-box-shadow: 0px 6px 0px 0px #BA0009;
    position: relative;
    top: -2px; }
  .reset:active {
    box-shadow: 0px 0px 0px 0px #BA0009;
    -moz-box-shadow: 0px 0px 0px 0px #BA0009;
    -webkit-box-shadow: 0px 0px 0px 0px #BA0009;
    position: relative;
    top: 4px; }

.timer {
  background-color: #A7C948;
  box-shadow: 0px 4px 0px 0px #7A9236;
  -moz-box-shadow: 0px 4px 0px 0px #7A9236;
  -webkit-box-shadow: 0px 4px 0px 0px #7A9236;
  align-self: end;
  height: 40px;
  width: 170px; }
  .timer:hover {
    background-color: #A7C948;
    color: black; }
  .timer:active {
    box-shadow: 0px 4px 0px 0px #7A9236;
    -moz-box-shadow: 0px 4px 0px 0px #7A9236;
    -webkit-box-shadow: 0px 4px 0px 0px #7A9236;
    top: 0px; }

footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFDD74;
  bottom: 0; }
  footer .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFDD74; }
  footer a {
    margin-top: 5px; }
