* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  background: radial-gradient(circle, #fff, #7E8181); }

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 180px 35fr 200px; }

header {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #14D100; }
  header .header-container {
    display: flex; }
    header .header-container img {
      width: 3em;
      height: 3em;
      align-self: flex-start;
      margin-right: 10px; }
    header .header-container h1 {
      padding: 10px 0 5px 0;
      color: #39378F; }

#container {
  height: 400px;
  width: 550px;
  background-color: #98CEE9;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px #b4b6b6; }

footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFDD74;
  bottom: 0; }
  footer .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFDD74; }
  footer a {
    margin-top: 5px; }
