
/* ***************Colors***************
=====PURPLES=====
purple
#861BBF

darkpurple
#5d12e7

light purple
#B314DB


======GREENS=====
light green text
#628F19

darker green text
#316901

light green
#E5F2BB

dark green
#B7E952


=====YELLOWS=====

light yellow
#f8f594

dark yellow
#d5d533
***************Colors***************/




/* ***************Fonts***************
  font-family: Arial, Helvetica, sans-serif;
***************Fonts************** */




/*   */
/* ***************universal-classes*************** */
/*   */
* {
  padding: 0;
  margin: 0;
}
html {
  background-color: #F0F3F3;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 1050px;
  margin: 0 auto;
}
/* ***************universal-classes*************** */




/*   */
/* ***************reusable-classes*************** */
/*   */
.clear {
  clear: both;
}
/* ***************reusable-classes*************** */




/*   */
/* ***************header*************** */
/*   */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  height: 100px;
}
header h1 {
  margin-top: 10px;
  font-size: 3.13em;
  color: #861BBF;
}
.search {
  background-image: linear-gradient(#E5F2BB, #B7E952);
  padding: 20px;
  flex: 0 1 300px;
}
.search input{
  width: 100px;
}

/* ***************header*************** */





/*   */
/* ***************nav*************** */
/*   */
.navigation {
  padding: 30px;
  background-image: linear-gradient(#f8f594, #d5d533);
}
.navigation ul {
  display: flex;
  justify-content: baseline;
  list-style-type: none;
}
.navigation ul li a {
  border-right: solid #5d12e7 1px;
  padding: 0 30px;
  color: #640094;
}
.navigation ul li:first-child a {
  color: #B314DB;
  font-size: 1.3em;
  font-weight: bold;
}
.navigation ul li:last-child {
  border-right: none;
}
.navigation ul li a {
  text-decoration: none;
}
.navigation ul li a:hover {
  color: #B314DB;
  font-size: 1.3em;
  font-weight: bold;
}


/* ***************nav*************** */


/*   */
/* ***************sidebar*************** */
/*   */

/* ***************sidebar*************** */




/*   */
/* ***************footer*************** */
/*   */
footer {
}

/* ***************footer*************** */
