
/* ***************Colors***************
=====PURPLES=====
purple
#861BBF

darkpurple
#5d12e7

light purple
#B314DB


======GREENS=====
light green text
#628F19

darker green text
#316901

light green
#E5F2BB

dark green
#B7E952


=====YELLOWS=====
light yellow
#f8f594

dark yellow
#d5d533

***************Colors***************/




/* ***************Fonts***************
  font-family: Arial, Helvetica, sans-serif;
***************Fonts************** */



/*  */
/************* UNIVERSAL STYLES *************/
/*  */
* {
  box-sizing: border-box; 
}
html {
  background-color: #F0F3F3;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:visited {
  color: blue;
}
body {
  width: 90%;
  margin: 0 auto;
}
ul {
  list-style: none;
}

/* REUSABLE CODE */
.clear {
  clear: both;
}
/* ***************universal-classes*************** */



/*  */
/************* HEADER *************/
/*  */
.header {
  /* border: red solid 2px; */
  /* padding: 10px 0; */
  /* height: 100px; */
  display: flex;
  flex-wrap: wrap;
}
.brand {
  /* flex: 1; */
  /* flex: 50%; sets the flex basis to 50%. */
  /* at 50% of screen size the items start growing. */
  /* default flex-basis is 0 */
  flex: 50%;
}
h1 a {
    color: #861BBF;
    font-size: 50px;
    font-weight: 100px;
    text-decoration: none;
}
h1 a:active {
    color: #640094;
}
.searchBox {
  /* float: right; */
  display: flex;
  flex: 50%;
  background: linear-gradient(#E5F2BB, #B7E952);
  /* 'width' is not compatible with flexbox. Use "min-width"  */
  /* width: 400px; */
  min-width: 400px;
  /* height: 100px; */
  padding: 20px;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}
.text {
  width: 200px;
  padding: 5px;
  font-size: 15px;
  /* orange */
  color: #FC9209;
  border: solid 3px #C5EDFE;
  /* border-radius: 5px; */
  background: white url(../../pictures/search.png) right center no-repeat;
  border: 2px solid #C8D03E;
}
.submit {
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
  color: #F7FAFA;
  background: #861BBF;
} 

/*  */
/************* NAV *************/
/*  */

.navigation {
  display: flex;
  background: linear-gradient(#f8f594, #d5d533);
  padding: 7px 0;
  /* height: 70px; */
}
.navigation li {
  float: left;
  padding: 0 30px;
  height: 30px;
  border-right: 1px #640094 solid;
  text-decoration: none;
}
.navigation li a {
  font-size: 17px;
  color: #640094;
  white-space: nowrap;
/* line-height is used to virtically align the text */
  line-height: 30px;
  text-transform: uppercase;
  transition: font-size 0.1s ease;
  -webkit-transition: font-size 0.1s ease;
  -mos-transition: font-size 0.1s ease;
  -o-transition: font-size 0.1s ease;
  -ms-transition: font-size 0.1s ease;
  /* transition: font-size 0.1s linear; */
}
/* can use a comma here so that we don't need another definition  */
.navigation li a:hover, .navigation li a.active {
  color: #B314DB;
  font-size: 20px;
  font-weight: bold;
}
/* remove right border for last item in list */
.navigation ul li:last-child {
  border-right: none;
}

/*  */
/************* Menu *************/
/*  */

.menu {
  display: flex;
  background: linear-gradient(#f8f594, #d5d533);
  padding: 20px 0 20px 40px;
  flex-wrap: wrap;
  text-transform: uppercase;
  transition: font-size 0.1s ease;
  -webkit-transition: font-size 0.1s ease;
  -mos-transition: font-size 0.1s ease;
  -o-transition: font-size 0.1s ease;
  -ms-transition: font-size 0.1s ease;
  /* transition: font-size 0.1s linear; */
}
.menu a {
  padding: 0 30px;
  border-right: 1px #640094 solid;
  text-decoration: none;
  font-size: 17px;
  color: #640094;
  white-space: nowrap;
}
/* can use a comma here so that we don't need another definition  */
.menu a:hover, .menu .active {
  color: #B314DB;
  font-size: 20px;
  font-weight: bold;
}
/* small screens */
@media screen and (max-width: 700px) {
  .menu {
    flex-direction: column;
    align-content: center;
  }
  .menu a {
    border-right: none;
  }
}
/* remove right border for last item in list */
.menu a:last-child {
  border-right: none;
}


/*  */
/************* MAIN CONTAINER *************/
/*  */
.container {
  /* border: 10px ridge blue; */
  /* padding: 10px; */
}
.container footer {
  background-color: #FDC609;
}
article main {
  padding: 5px;
}
/*  */
/************* INTRODUCTION *************/
/*  */
.introduction {
  color: blue;
  background: linear-gradient(#E5F2BB, #B7E952);
  padding: 30px;
  margin: 16px 0;
}
.introduction h3 {
  font-size: 45px;
  font-weight: normal;
  color: #316901;
}
.introduction p {
  font-size: 25px;
  color: #628F19;
  text-align: justify;
}

/*  */
/************* SIDEBARS *************/
/*  */
.sidebar {
  height: 500px;
  width: 450px;
  border: 1px solid #BAF46F;
  border-radius: 20px;
  padding: 10px 30px;
}
.sidebar h3 {
  color: #B314DB;
  font-size: 30px;
}
.sidebar a {
  text-decoration: none;
  font-size: 17px;
  color: #5d12e7;
  transition: font-size 0.1s ease;
  -webkit-transition: font-size 0.1s ease;
  -mos-transition: font-size 0.1s ease;
  -o-transition: font-size 0.1s ease;
  -ms-transition: font-size 0.1s ease;
}
.sidebar a:hover {
  color: #B314DB;
  font-size: 20px;
  font-weight: bold;
}
.sidebar li {
}
.sidebar img {
  margin-right: 10px;
  display: inline;
}
.sidebar ul {
  padding-top: 8px;
}

/* LEFT SIDE BAR */
.leftSideBar {
  float: left;
}

.leftSideBar li {
  padding: 4px 0 4px 10px;
  list-style-image: url(../../pictures/arrow.png);
}

/* RIGHT SIDE BAR */
.rightSideBar {
  float: right;
}
.rightSideBar li {
  /* padding-top: 10px; */
  /* padding-bottom: 20px; */
  /* padding-left: 70px; */
  padding: 10px 0 20px 70px;
/* using background instead of list-style-image centers the image in the element! */
  background: url(../../pictures/tick.png) no-repeat;
  /* list-style-image: url(../../pictures/tick.png); */
}

/*  */
/************* FOOTER *************/
/*  */
.footer {
  height: 60px;
  background: linear-gradient(#F6F390, #D5D533);
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
}
.footer p {
  margin: 0;
  padding: 10px 5px 0 0;
}







