* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body, html {
  height: 100%;
  background: #edf2f7; }

body {
  display: flex;
  flex-direction: column; }

header {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  border-bottom: 5px solid #14D100; }

.header-container {
  display: flex;
  align-items: center; }

header img {
  width: 3em;
  height: 3em;
  margin: 5px 10px 5px 5px;
  align-self: flex-start; }

header h1 {
  padding: 10px 0 5px 0; }

main {
  margin-top: 10px;
  display: grid;
  /* overflow: hidden */
  /* minimum width should be 210px */
  grid-template-columns: repeat(5, 230px);
  grid-auto-rows: 200px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  /* max-width: 1300px */ }

.lesson {
  display: flex;
  flex-direction: column;
  padding: 35px 30px;
  border: 5px solid;
  border-color: #1714B2;
  border-radius: 30px; }

.lesson h3 {
  margin-top: -15px;
  padding-bottom: 3px; }

.lesson ul {
  padding-left: 20px; }

.lesson-list {
  list-style-type: square; }

.lesson a {
  margin-top: auto;
  margin-bottom: -10px; }

footer {
  display: flex;
  margin-top: auto;
  justify-content: center;
  background-color: #FFDD74; }

footer .contact {
  display: flex;
  flex-direction: column;
  /* justify-content: center */
  align-items: center;
  background-color: #FFDD74; }
