h1 {
  Font-family: Lobster, Cursive;
  font-size: 34px;
}

.content {
  margin: 10px 10px 10px 10px;

}

.red-background {
  background-color: #e6f2ff;
  color: #666666;
}

.square-buttons {
  margin: 0px -13px 0px -13px;
}
