/* colors */

/*
green: #67B26F;
blue: #4CA2CD;
mid: #5aaa9d;;
*/

* {
  margin: 0;
  padding: 0;
  display: border-box;
}

body {
  color: #444;
  font-family: Roboto;
  padding: 100px;
  background: linear-gradient(to bottom right, #67B26F, #4CA2CD);
  height: 100vh;
}

h1 {
  padding: 40px;
}
.pizza {
}
.pizza__hero {
}
