/* colors */

/*
green: #67B26F;
blue: #4CA2CD;
mid: #5aaa9d;;
*/

* {
  margin: 0;
  padding: 0;
  display: border-box;
}

body {
  color: #444;
  font-family: Roboto;
  padding: 100px;
  background: linear-gradient(to bottom right, #67B26F, #4CA2CD);
  height: 100vh;
}

.pizza {
  display: flex;
}

.pizza__hero{
}

.pizza__img {
  width: 100%;
}

.pizza__content {
  background-color: white;
}
