// Imports - uncomment when needed

@import "utils/variables"
@import "base/base"
// @import "base/typography"
// @import "components/buttons"
// @import "components/carousels"
// @import "components/navigation"
// @import "layout/header"
// @import "layout/footer"
// @import "layout/grid"
// @import "utils/functions>"
// @import "utils/mixins"

body
  display: flex
  flex-direction: column


footer
  margin-top: auto;
