/*   */
/*       Reusable classes      */
/*   */
h1 { 
  color: #BF260B;
}
* {
  margin: 0;
  padding: 0;
}
p {
  background-color: #1799C3;
}

.great {
  background-color: #F7FF42;
  color: black;
}

/*   */
/*       Box Model      */
/*   */
.box {
  background: #B4F3FE;
  padding: 10px;
}
.box__bluebox {
  background-color: #3C5A9A;
  color: white;
  height: 100px;
  width: auto;
}
.box__yellowbox {
  background-color: rgb(206, 206, 68, 50%);
  color: hsl(300, 67%, 49%);
  height: 100px;
  width: auto;
}
.box__greenbox {
  background-color: green;
  color: white;
  height: 100px;
  width: auto;
}

/*   */
/*       Padding      */
/*   */
.box__padding {
  background: #FC7608;
  padding: 10px;
}
.box__padding h1 {
  color: blue;
}
.box-padding__bluebox {
  /* background-color: #3C5A9A; */
  background-image: url(../pictures/klx250s1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  color: white;
  padding: 10px;
  height: 100px;
  width: auto;
  border: 10px red ridge;
  /* outline isn't taken into account by the dimmensions of the elements */

  /* This does the same thing as the three following entries, it is more efficient */
  outline: solid blue thick;
  /* outline-style: solid; */
  /* outline-color: blue; */
  /* outline-width: thick; */
  margin: 20px;
}
.box-padding__yellowbox {
  background-image: url(../pictures/klx250s2.jpg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-origin: border-box;
  /* background-position: right bottom; */
  color: hsl(300, 67%, 49%);
  padding: 10px 5px 7px 3em;
  margin: 60px 10px 30px 20px;
  border-color: black yellow red purple;
  border-style: ridge;
  border-width: 10px 15px 30px 20px;
  height: 200px;
  width: auto;
}
.box-padding__greenbox {
  background-color: green;
  color: white;
  padding: 10px 10px;
  margin: 60px 10px;
  border-width: 10px 10px;
  border-color: blue;
  border-style: groove;
  border-radius: 80px;
  height: 100px;
  width: 100px;
}


