/*   */
/* ***************colors*************** */
/*   */

/*





 */

/*   */
/* ***************universal-classes*************** */
/*   */
* {
  box-sizing: border-box;
}


/*   */
/* ***************reusable-classes*************** */
/*   */
.clear {
  clear: both;
}


/*   */
/* ***************Section row*************** */
/*   */
.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  min-width: 200px;
}
img {
  /* makes the images fit their alloted seciton of flexbox instead of displaying always their original size. */
  width: 100%;
}

.column:nth-child(1) {
  background-color: skyblue;
}
.column:nth-child(2) {
  background-color: palevioletred;
}
.column:nth-child(3) {
  background-color: green;
}
.column:nth-child(4) {
  background-color: lightcoral;
}
