/*     */
/*        BASIC LAYOUT        */
/*     */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

/*     */
/*        REUSABLE ELEMENTS       */
/*     */
h1 {
  color: blue;
  padding: 10px;
  font-size: 40px;
  font-weight: 100;
}
h2 {
  color: green;
  text-decoration: underline red;
  padding-top: 20px;
  padding-bottom: 20px;
}
h3 {
  color: purple;
  text-decoration: underline blue;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*     */
/*        TITLE ELEMENT       */
/*     */
.title {
  text-align: center;
}

/*     */
/*        BODY        */
/*     */
.main__content {
 display: flex;  
}
.navigation {
  padding-top: 20px;
}
.content {
  padding-left: 20px;
}
footer {
  text-align: center;
  padding: 30px;
}













