/* ------------------------------- */
/* COLORS */
/* ------------------------------- */

/* orange      - #e67e22


/* ------------------------------- */
/* BASIC SETUP */
/* ------------------------------- */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial;
}
body {
}

/* ------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------- */


/* ------------------------------- */
/* HEADER */
/* ------------------------------- */


/* ------------------------------- */
/* SECTION 1*/
/* ------------------------------- */
.header {
}
.section__1 {
  display: flex;
  justify-content: space-around;
}
.container {
  flex: 0 1 55%;
}
.sidebar {
  flex: 0 1 20%;
}
h1 {
  display: center;
  font-size: 48px;
  color: blue;
  font-weight: 100;
}
h2 {
  font-size: 30px;
  font-weight: 100;
}







/* ------------------------------- */
/* SECTION */
/* ------------------------------- */
/* ------------------------------- */
/* SECTION */
/* ------------------------------- */
