/* ------------------------------- */
/* COLORS */
/* ------------------------------- */

/* orange      - #e67e22


/* ------------------------------- */
/* BASIC SETUP */
/* ------------------------------- */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial;
}


/* ------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------- */


/* ------------------------------- */
/* HEADER */
/* ------------------------------- */


/* ------------------------------- */
/* SECTION 1*/
/* ------------------------------- */
h1 {
  font-size: 48px;
  color: blue;
  font-weight: 100;
}
h2 {
  font-size: 30px;
  font-weight: 100;
}







/* ------------------------------- */
/* SECTION */
/* ------------------------------- */
/* ------------------------------- */
/* SECTION */
/* ------------------------------- */
