// Imports - uncomment when needed

@import "utils/variables"
@import "base/base"
// @import "base/typography"
// @import "components/buttons"
// @import "components/carousels"
// @import "components/navigation"
// @import "layout/header"
// @import "layout/footer"
// @import "layout/grid"
// @import "utils/functions>"
// @import "utils/mixins"


body
  display: grid
  height: 100vh
  grid-template-columns: 1.5fr 5fr 1.5fr
  grid-template-rows: 180px 35fr 200px



header
  background-color: $header-background
  grid-column-start: 1
  grid-column-end: 4
  display: flex
  justify-content: center
  align-items: center
  border-bottom: 5px solid $green4
  .header-container
    display: flex
    img
      width: 3em
      height: 3em
      align-self: flex-start
      margin-right: 10px
    h1
      padding: 10px 0 5px 0
      color: $blue1

.sidebar
  // display: flex
  // flex-direction: column
  padding-top: 10px
  padding-left: 10px

.sidebar-left
  display: flex
  flex-direction: column
  border-right: 3px solid $blue2
  grid-column-start: 1
  grid-column-end: 2
  grid-row-start: 2
  grid-row-end: 3

.sidebar-right
  display: flex
  flex-direction: column
  grid-column-start: 3
  grid-column-end: 4
  grid-row-start: 2
  grid-row-end: 3
  border-left: 3px solid $blue2

.article
  padding: 10px

footer
  grid-column-start: 1
  grid-column-end: 4
  grid-row-start: 3
  grid-row-end: 4
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: $yellow2
  .item
    display: flex
    flex-direction: column
    align-items: center
    background-color: $yellow2
  a 
    margin-top: 5px

@media screen and (max-width: 750px)
  body
    grid-template-columns: 1fr
    grid-template-rows: 1fr

  .sidebar-left, .sidebar-right, .article, footer, header
    grid-column-start: 1
    grid-column-end: span 4
    grid-row: auto
    border: none;

  header
    height: 180px
    
  footer
    height: 230px

