/*   */
/* ***************colors*************** */
/*   */
/* green #8EDD6E */
/* background grey #F6F6F6; */

/*





 */

/*   */
/* ***************universal-classes*************** */
/*   */
* {
 box-sizing: border-box;
}
body, html {
  padding: 0;
  margin: 0;
}
html {
  background-color: #F6F6F6;
}


/*   */
/* ***************reusable-classes*************** */
/*   */
h1 {
  padding: 10px;
}

/*   */
/* ***************header*************** */
/*   */


/*   */
/* ***************main*************** */
/*   */
form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  font-size: 24px;
}
.containter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* 1.1 details */
.details {
  background-color: greenyellow;
  flex: 3;
}
/* 1.1.1. address */
.form-group {
  display: flex;
  margin: 1em; 
  align-items: center;
}
.form-group label{
  flex: 1;
  text-align: right;
  margin-right: 1em;
}
.form-group input{
  flex: 3;
  font-size: 1em;
}
/* 1.2 details */
.comments {
  background-color: deepskyblue;
  flex: 1;
}
/* 2.0 shipping */
.shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shipping p {
  font-size: .8em;
}
select {
  font-size: .9em;
  padding: 0 10px;
}
/* 3.0 payment */
.payment {
  text-align: center;
  font-size: .8em;
}
.payment-radio {
  display: flex;
  flex-direction: row;
  flex-flow: wrap row;
  justify-content: space-around;
}
/* 4.0 extra options */
.options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* 5.0 submit */
.submit {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: darkred;
/* setting the margin to auto will push the element all the way to the opposite side of the div if you are using flexbox as illustrated below */
  margin-top: auto;
}
.submit input {
  background-color: blue;
  padding: 20px;
  font-size: 1.1em;
  color: white;
}

/*   */
/* ***************sidebar*************** */
/*   */



/*   */
/* ***************footer*************** */
/*   */
footer {
  margin-top: 20px;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  border: solid orange 4px;
  align-content: center;
  text-align: center;
}
