/*   */
/* ***************colors*************** */
/*   */
/* green #8EDD6E */
/* background grey #F6F6F6; */

  /* green background - background-color: rgba(138, 230, 81, 0.7); */
/*





 */

/*   */
/* ***************universal-classes*************** */
/*   */
* {
 box-sizing: border-box;
}
body, html {
  padding: 0;
  margin: 0;
}
html {
  background-color: #F6F6F6;
}


/*   */
/* ***************reusable-classes*************** */
/*   */
h1 {
  padding: 10px;
}

/*   */
/* ***************header*************** */
/*   */


/*   */
/* ***************main*************** */
/*   */
.infoheading {
  text-align: center;
  text-decoration: underline;
  font-size: 2em;
}
form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  font-size: 24px;
}
input, textarea, select{
  background-color: rgba(138, 230, 81, 0.7);
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
/* 1.1 details */
.details {
  flex: 3;
}
/* 1.1.1. address */
.form-group {
  display: flex;
  margin: 1em; 
  align-items: center;
}
.form-group label{
  flex: 1;
  text-align: right;
  margin-right: 1em;
}
.form-group input{
  flex: 3;
  font-size: 1em;
}
/* 1.2 details */
.comments {
  display: flex;
  flex-direction: column;
  margin: 1em;
  flex: 1;
}
.comments textarea{
  flex: 1;
}
/* 2.0 shipping */
.shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
}
select {
  font-size: 1em;
  margin-top: 0.5em;
}
/* 3.0 payment */
.payment {
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.payment div:nth-child(1){
  margin-top: 1em;
}
.payment div:nth-child(2){
  align-self: center;
  display: flex;
  justify-content: space-around;
}
.payment div:nth-child(2) label{
  flex: 1;
  margin-top: 0.5em;
}
 
.payment-radio {
  display: flex;
  flex-direction: row;
  flex-flow: wrap row;
  justify-content: space-around;
  margin-bottom: 1em;
}
/* 4.0 extra options */
.options {
  display: flex;
  text-align: center;
  margin-top: 1em;
}
/* This makes both of the labels take up the same amount of space */
.options label{
  flex: 1;
}
.options label:nth-child(1){
  order: 2;
}
.options label:nth-child(2){
  order: 1;
}

/* 5.0 submit */
.submit {
/* setting the margin to auto will push the element all the way to the opposite side of the div if you are using flexbox as illustrated below */
  margin-top: auto;
  text-align: center;
}
.submit button{
  background-color: deepskyblue;
  width: 100%;
  color: azure;
  font-size: 1.7em;
/* buttons have a border by default so it must be removed if you want that look. */
  border: none;
}

/*   */
/* ***************sidebar*************** */
/*   */



/*   */
/* ***************footer*************** */
/*   */
footer {
  margin-top: 20px;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  border: solid orange 4px;
  align-content: center;
  text-align: center;
}
