* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: #edf2f7; }

header {
  text-align: center;
  padding: 20px;
  border-bottom: 5px solid #14D100; }
  header h1 {
    color: blue;
    text-decoration: underline; }

main {
  padding: 10px; }

.great {
  background-color: #edf2f7;
  color: black; }

.added h3 {
  text-decoration: underline;
  color: teal; }

.added p {
  color: green; }
