/*Let's make sure that the dimensions of any box includes its border and padding, this gives us an easy way of sizing our elements*/
* {
    box-sizing: border-box;
}


h1 { color: blue; }

.bluebox {
  background-color: #3C5A9A;
  color: white;
  height: 100px;
  width: auto;
}
.yellowbox {
  background-color: rgb(206, 206, 68);
  color: hsl(300, 67%, 49%);
  height: 100px;
  width: auto;
}
.greenbox {
  background-color: green;
  color: white;
  height: 100px;
  width: auto;
}
.great {
  background-color: #F7FF42;
  color: black;
}
