* {
  margin: 0;
  padding: 0;
}

h1 {
  color: blue;
  font-weight: 100;
  font-family: Arial;
  text-decoration: underline;
}
#image1 {
  height: 190px;
  width: 90px;
  background: url(../../pictures/klx250s1.jpg) -700px -400px; 
  position: fixed;
  left: 720px;
  top: 480px;
  transform: scale(1.5);
  outline: orange solid 3px;
}
