* {
  margin: 0;
  padding: 0;
}

h1 {
  color: blue;
  font-weight: 100;
  font-family: Arial;
  text-decoration: underline;
}


/* IMAGE SPRITES LESSON */

#image1 {
  height: 190px;
  width: 90px;
  background: url(../../pictures/klx250s1.jpg) -700px -400px; 
  position: fixed;
  left: 720px;
  top: 480px;
  transform: scale(1.5);
  outline: orange solid 3px;
  opacity: 0.8;
}


/* IMAGE OPACITY LESSON */

#image2 {
  width: 200px;
  height: 150px;
  opacity: 0.4;
  margin-right: 30px;
}
#image3 {
  width: 200px;
  height: 150px;
  opacity: 1;
}


