/*   */
/* ***************colors*************** */
/*   */

/*





 */

/*   */
/* ***************universal-classes*************** */
/*   */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
}
h1 {
  color: green;
}


/*   */
/* ***************reusable-classes*************** */
/*   */
.clear {
  clear: both;
}

.containerAll {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*   */
/* ***************header*************** */
/*   */
header {
  background-color: yellow;
}

/*   */
/* ***************main-content*************** */
/*   */
.container {
  background-color: #07575B;
  display: grid;
}
.container > div {
  background-color: #66A5AD;
  color: aliceblue;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  margin: 2px;
}


/*   */
/* ***************footer*************** */
/*   */
footer {
  background-color: lightblue;
  margin-top: auto;
}
