// Imports - uncomment when needed

@import "utils/variables"
@import "base/base"
// @import "base/typography"
// @import "components/buttons"
// @import "components/carousels"
// @import "components/navigation"
// @import "layout/header"
// @import "layout/footer"
// @import "layout/grid"
// @import "pages/contact"
// @import "pages/home"
// @import "pages/quotes"
// @import "pages/signup"
// @import "utils/functions>"
// @import "utils/mixins"
// @import "base/base"

h1 
  color: $heading


.great
  background-color: $background
  color: black

