<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- stylesheets -->
      <link rel="stylesheet" type="text/css" href="resources/data/grid.css">
      <link rel="stylesheet" type="text/css" href="vendors/css/sanitize.css/sanitize.css">
      <link rel="stylesheet" type="text/css" href="vendors/fonts/lato/stylesheet.css">
      <!-- this stylesheet must come last -->
      <link rel="stylesheet" type="text/css" href="resources/css/styles.css">
<!-- end stylesheets -->
      <title>TITLE HERE</title>
   </head>

   <body>


      <header>
      </header>

      <section>
     </section>

<!-- SCRIPTS -->
      <script src="resources/js/sandbox.js"></script>
   </body>
</html>
