/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
   body .hero-text-box {
      /* float: left; */
      width: 100%;
      padding: 0 2%;
   }
   body .row { padding: 0 2%; }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
   body { font-size: 18px; }
   body section { padding: 60px 0; }
   body .long-copy {
      width: 80%;
      margin-left: 10%;
   }
   body .steps-box { margin-top: 10px; }
   body .steps-box:last-child { margin-top: 10px; }
   body .works-step { margin-bottom: 40px; }
   body .works-step:last-of-type { margin-bottom: 60px; }
   div .app-screen { width: 50%; }

   body .icon-small { 
      width: 17px;
      margin-right: 2px;
   }
   body .city-feature { font-size: 45%; }
   body .plan-box {
      font-family: 'latolight', 'Arial', 'sans-serif';
      width: 100%;
      margin: 0px;
      font-size: 90%;
      padding: 10px 5px -10 5px;
   }
   body .plan-price { font-size: 250%; }
   .contact-form {
      width: 80%;
   }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
   html body { font-size: 16px; }
   body section { padding: 30px 0; }
   body .row,
        .hero-text-box { padding: 0 4%; }
        /* causes columns to stack instead of being side by side */
   body .col { 
      width: 100%;
      /* the margin fixes the default margin missalign issue introduced by the 'grid' css */
      margin: 0 0 4% 0;
   }
   body .main-nav { display: none; }
   body .long-copy {
      width: 100%;
      margin-left: 0%;
   }
   body h1 { font-size: 180% }
   body h2 { font-size: 150% }
   /* reducing white space */
   body .works-step { margin-bottom: 20px; }
   body .works-step:last-of-type { margin-bottom: 20px; }

   .works-step div {
      height: 40px;
      width: 40px;
      margin-right: 15px;
      padding: 4px;
      font-size: 96%;
   }
   .steps-box:first-child { text-align: center; }
   div .app-screen { width: 40%; }

}
/* small phones: from 0 to 480 px */
@media only screen and (max-width: 480px) {
   body section { padding: 25px 0; }
   body .contact-form { width: 100%; }
   
}
