* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   background-color: #fff;
   color: #777;
   font-family: 'latoregular', 'Arial', 'sans-serif';
   font-weight: 300;
   font-size: 20px;
   text-rendering: optimizeLegibility;
}
body {
   background-color: rgba(0,0,0,0.75);
}
h1 {
   margin: 0;
   font-size: 35px;
   font-family: 'latolight', 'Arial', 'sans-serif';
   font-weight: 100;
}
header {
   background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url(img/hero.jpg);
   background-size: cover;
   background-position: center;
   height: 100vh;
}
.row {
   max-width: 1140px;
   /* this makes top and bottom '0' and left and right auto! */
   margin: 0 auto;
}
.hero-text-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-75%, -135%);
}





