body {
   font-family: Helvetica Neue, Arial;
   font-size: 18px;
   color: #B7E1AB;
   background-color: #777777;
}

h1, h2 {
   color: #91A8FF;
   /* font-weight: medium; */
   font-family: Helvetica Neue, Arial;

}

h1 {
   font-size: 40px;
   /* font-weight: 100; */
}

h2 {
   font-size: 25px;
   /* font-weight: 800px; */
}

p {
   text-align: justify;
   font-family: Helvetica Neue, Arial;
   /* font-weight: medium; */
}

.picture {
   height: 10em;
   width: auto;
}

.author {
   height: 5em;
   width: auto;
   border-radius: 90%
}
