@mixin shadowkit($set1: 0px, $set2: 4px, $set3: 0px, $set4: 0px, $color: $blue-shadow)
  box-shadow: $set1 $set2 $set3 $set4 $color
  -moz-box-shadow: $set1 $set2 $set3 $set4 $color
  -webkit-box-shadow: $set1 $set2 $set3 $set4 $color

@mixin transform-duration-all($set: all, $duration: 0.3s)
  transition: $set $duration
  -webkit-transition: $set $duration
  -moz-transition: $set $duration
  -ms-transition: $set $duration
