//Maths Game Colors
$background-grey-math: #DEDEDE;
$score-yellow: #F2F795;
$score-text: #888e5f;
$light-blue-math: #98CEE9;
$blue-shadow: #009de4 
$light-purple-math: #B68AD8;
$dark-purple-math: #9BA4EA;
//Maths Game Colors End




$header-background: #e8e8e8;// dark grey
$background: #edf2f7; // off white
$green0: #3AA82F; // green
$green1: #74E668; // green
$green2: #4AD43C; // green
$green3: #0F9B00; // green
$green4: #14D100; // green
$blue1: #39378F; // blue
$blue2: #7472D6; // blue
$blue3: #4947B8; // blue
$blue4: #100E84; // blue
$blue5: #1714B2; // blue
$yellow1: #CDA939; // yellow
$yellow2: #FFDD74; // Footer
$yellow3: #FFD248; // yellow
$yellow4: #BD8F00; // yellow
$yellow5: #FFC000; // yellow
$red1: #C9383F; // red
$red2: #FD7379; // red
$red3: #FB4750; // red
$red4: #BA0009; // red
$red5: #FB000D; // red
