/*          colors         */

/* green = #474747; */
/* unsure = #598251; */

/*          */


/*          */
/*          reusable styles         */
/*          */
* {
   margin: 0;
   padding: 0;
}

html, body { 
   font-family: latoregular, Helvetica Neue, Arial;
   height: 100%;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 120%;
   color: #474747;
}

h1 {
   font-family: latohairline, Helvetica Neue, Arial;
   font-size: 290%;
   color: #598251;
}

h2 {
   font-size: 30px;
}



/*          */
/*          header         */
/*          */
header {
  display: flex;
  justify-content: center;
  background-color: #FFFC6A;
  padding: 60px 0 70px 0;
}
header h1 {
}


/*          */
/*          Main Content         */
/*          */

.main__body {
  display: flex;
  padding: 40px 20px;
}
.blog__content {
  flex: 0 1 80%;
}
.suggestedReading {
  flex: 0 1 10%;
}

/*          */
/*          Footer         */
/*          */

footer {
  padding: 40px 20px;
  background-color: orange;
}
