// Imports - uncomment when needed

@import "utils/variables"
@import "base/base"
// @import "base/typography"
// @import "components/buttons"
// @import "components/carousels"
// @import "components/navigation"
// @import "layout/header"
// @import "layout/footer"
// @import "layout/grid"
// @import "utils/functions>"
// @import "utils/mixins"



// UNIVERSAL ELEMENTS
html
  height: 100%
  background: radial-gradient(circle, #fff, #7E8181)

body
  display: grid
  height: 100vh

  grid-template-columns: 1fr
  grid-template-rows: 180px 35fr 200px

header
  // background-color: $header-background
  grid-column-start: 1
  grid-column-end: 4
  display: flex
  justify-content: center
  align-items: center

  border-bottom: 5px solid #14d100 // green4
  .header-container
    display: flex
    img
      width: 3em
      height: 3em
      align-self: flex-start
      margin-right: 10px
    h1
      padding: 10px 0 5px 0
      color: #39378F // blue1

// UNIVERSAL ELEMENTS END



// MATHS GAME




// Changed 'container' to a class. Change later if needed.
.container
  height: 450px
  width: 550px
  background-color: #98CEE9 //background
  // margin centers the container
  margin: 100px auto
  padding: 20px
  border-radius: 10px
  box-shadow: 0px 4px 0px 0px #009de4 // blue-shadow
  -moz-box-shadow: 0px 4px 0px 0px #009de4 // blue-shadow
  -webkit-box-shadow: 0px 4px 0px 0px #009de4 // blue-shadow
  position: relative

// BOX SHADOW LAYOUT LIKE THIS
// box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]
// box shadow needs a minimum of horizontal and vertical input. If only one, nothing will appear

//Changed 'score' to a class. Changer later if needed.
.score
  background-color: #F2F795
  color: #888e5f
  padding: 11px
  position: absolute
  left: 500px
  box-shadow: 0px 4px #9da853 // yellow-green-shadow
  -moz-box-shadow: 0px 4px #9da853 // yellow-green-shadow
  -webkit-box-shadow: 0px 4px #9da853 // yellow-green-shadow

#score-value

.correct
  background-color: green
  color: #F8FBFB
  position: absolute
  left: 240px
  padding: 20px
  width: 80px
  text-align: center
  box-shadow: 0px 4px #0B4800
  -moz-box-shadow: 0px 4px #0B4800
  -webkit-box-shadow: 0px 4px #0B4800
  display: none

.wrong
  background-color: red
  color: #F8FBFB
  position: absolute
  left: 240px
  padding: 20px
  width: 80px
  text-align: center
  box-shadow: 0px 4px #A90805
  -moz-box-shadow: 0px 4px #A90805
  -webkit-box-shadow: 0px 4px #A90805
  display: none // make it disapear untill called by javascript

.question
  display: flex
  height: 150px
  width: 450px
  background-color: #9da0ea
  box-shadow: 0px 4px #3F3F64
  margin: 60px auto 10px auto
  font-size: 100px
  font-family: "Comic Sans MS", cursive, sans-serif
  justify-content: center
  align-items: center

.instructions
  display: flex
  height: 50px
  width: 450px
  background-color: #9E7DCE
  box-shadow: 0px 4px #6D4F97
  -moz-box-shadow: 0px 4px #6D4F97
  -webkit-box-shadow: 0px 4px #6D4F97
  margin: 10px auto 10px auto
  text-align: center
  font-size: 17px
  justify-content: center
  align-items: center

.answers
  display: flex
  justify-content: space-between
  margin: 5px auto
  height: 100px
  width: 450px

.answer
  display: flex
  justify-content: center
  align-items: center
  background-color: #DEDEDE
  height: 90px
  width: 90px
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2)
  -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2)
  border-radius: 3px
  cursor: pointer
  transition: all 0.2s
  -webkit-transition: all 0.2s
  -moz-transition: all 0.2s
  -ms-transition: all 0.2s
  &:hover
    background-color: #9c89f6
    box-shadow: 0px 4px #392F60
    -moz-box-shadow: 0px 4px #392F60
    -webkit-box-shadow: 0px 4px #392F60
    color: #DEDEDE
  &:active
    box-shadow: 0px 0px #392F60
    -moz-box-shadow: 0px 0px #392F60
    -webkit-box-shadow: 0px 0px #392F60
    position: relative
    top: 4px
    // transform: translate(0px, 4px)




.answerone

.answertwo

.answerthree

.answerfour



// MATHS GAME END


// FOOTER
footer
  grid-column-start: 1
  grid-column-end: 4
  grid-row-start: 3
  grid-row-end: 4
  
  display: flex
  // margin-top: auto
  flex-direction: column
  justify-content: center
  align-items: center
  // 
  background-color: #FFDD74
  bottom: 0
  .item
    display: flex
    flex-direction: column
    align-items: center
    background-color:  #FFDD74
  a 
    margin-top: 5px
// FOOTER END


//Maths Game Colors
// Text-off-White: #F8FBFB
// $background-grey-math: #DEDEDE
// $score-yellow: #F2F795
// $yelowgreen-shadow: #9da853
// $score-text: #888e5f
// $light-blue-math: #98CEE9
// $blue-shadow: #009de4
// $light-purple-math: #B68AD8
// $dark-purple-math: #9BA4EA

// Footer $yellow2: #FFDD74;






