// Imports - uncomment when needed

@import "utils/variables"
@import "base/base"
// @import "base/typography"
// @import "components/buttons"
// @import "components/carousels"
// @import "components/navigation"
// @import "layout/header"
// @import "layout/footer"
// @import "layout/grid"
// @import "utils/functions>"
// @import "utils/mixins"



// UNIVERSAL ELEMENTS
html
  height: 100%
  background: radial-gradient(circle, #fff, #7E8181)

body
  display: grid
  height: 100vh

  grid-template-columns: 1fr
  grid-template-rows: 180px 35fr 200px

header
  // background-color: $header-background
  grid-column-start: 1
  grid-column-end: 4
  display: flex
  justify-content: center
  align-items: center
  border-bottom: 5px solid $green4
  .header-container
    display: flex
    img
      width: 3em
      height: 3em
      align-self: flex-start
      margin-right: 10px
    h1
      padding: 10px 0 5px 0
      color: $blue1

// UNIVERSAL ELEMENTS END



// MATHS GAME

// INSTEAD OF CENTERING LIKE THIS - use "margin: 100px auto;" This will keep it centered.
// main
  // display: flex
  // align-items: center
  // justify-content: center

#container
  height: 400px
  width: 550px
  background-color: #98CEE9
  margin: 100px auto
  padding: 20px
  border-radius: 10px
  box-shadow: 0px 4px hsl(180, 1%, 71%)
// BOX SHADOW LAYOUT LIKE THIS
// box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]
// box shadow needs a minimum of horizontal and vertical input. If only one, nothing will appear


// MATHS GAME END


// FOOTER
footer
  grid-column-start: 1
  grid-column-end: 4
  grid-row-start: 3
  grid-row-end: 4
  
  display: flex
  // margin-top: auto
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: $yellow2
  bottom: 0
  .item
    display: flex
    flex-direction: column
    align-items: center
    background-color: $yellow2
  a 
    margin-top: 5px
// FOOTER END


// $background-gre-math: #DEDEDE;
// $yello-math: #F2F795;
// $light-blu-math: #98CEE9;
// $light-purpl-math: #B68AD8;
// $dark-purpl-math: #9BA4EA;
