.error{
    padding: 10px;
    color: crimson;
    border: 1px dotted crimson;
}

.success{
    padding: 10px;
    color: limegreen;
    border: 1px dotted limegreen;
}

.test{
    font-size: 77px;

}

.article-element{
    border: 3px dotted crimson;
}

li{
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    background: #eee;
    border: 1px dotted #ddd;
}

.list{
    list-style-type: none;
    max-width: 400px;
    padding: 18px;
    margin: 18px auto;
    background: rgb(187, 17, 17);
    border: 1px dotted rgb(60, 81, 177);
}

.complete{
    text-decoration: line-through;
}