* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  background-color: #edf2f7;
  color: #090A0A; }

.counter .project-area {
  background-color: #FEE1DC; }

.counter .notes-area {
  background-color: #E6FFD9; }

.counter .number {
  text-align: center;
  font-size: 110px; }

.counter h3 {
  text-align: center;
  padding: 5px 0 5px 0; }

body {
  display: flex;
  flex-direction: column; }

.tab {
  padding-left: 14px; }

.white-box {
  background-color: #edf2f7;
  padding: 20px;
  border: 1px solid #3B3C3C; }

button {
  background-color: #0500FE;
  color: #edf2f7;
  border-radius: 10px;
  padding: 5px; }

.project {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; }

h2 {
  font-size: 40px;
  text-align: center;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #090A0A;
  margin-bottom: 20px; }

.project-area {
  padding-bottom: 10px;
  border: 1px solid #3AA82F;
  flex: 0 1 650px; }

.notes-area {
  padding: 0 20px 10px 0;
  border: 1px solid #BA0009;
  flex: 0 1 650px; }

ul {
  padding-left: 30px; }

ol {
  padding-left: 30px; }

li {
  padding-bottom: 5px; }

header {
  display: flex;
  align-items: center;
  height: 60px; }
  header img {
    padding: 0 10px 0 10px; }

.number-generator {
  margin: 10px;
  height: 400px; }

.counter .project-area {
  background-color: #FEE1DC; }

.counter .notes-area {
  background-color: #E6FFD9; }

.counter .number {
  text-align: center;
  font-size: 110px; }

.counter h3 {
  text-align: center;
  padding: 5px 0 5px 0; }

.counting-options {
  display: flex;
  justify-content: center; }

.stop-clear {
  display: flex;
  justify-content: center; }

.counting-machine {
  display: flex;
  flex-direction: column;
  align-content: center; }

input {
  width: 80px;
  align-self: center;
  margin: 20px; }

.code-purple {
  color: #705BA2; }

.code-blue {
  color: #5282BA; }

.code-yellow {
  color: #D6B66A; }

.code-green {
  color: #7FBD74; }

footer {
  margin-top: auto; }
