* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  background-color: #edf2f7;
  color: #090A0A; }

body {
  display: flex;
  flex-direction: column; }

footer {
  margin-top: auto; }
